{% extends 'AppBundle:cabinet:index.html.twig' %}
{% form_theme form '@App/form/fields.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% block main_sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block content_wrapper %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        Cтворити нове оголошення
                    </h1>
                </section>
                <section class="content flex-column d-flex flex-lg-row">
                    <div class="col-lg-6">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Оголошення</h3>
                            </div>

                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form, {'method': 'POST', 'attr':{'id': 'form_new_advertisement'}}) }}
                            {{ form_errors(form) }}
                            <div class="box-body">
                                <div class="form-group">
                                    {{ form_label(form.textHead) }}
                                    {{ form_widget(form.textHead) }}
                                    {{ form_errors(form.textHead) }}

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.textAbout) }}
                                    {{ form_widget(form.textAbout) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.declarantPhoneNum) }}
                                    {{ form_widget(form.declarantPhoneNum) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.area) }}
                                    {{ form_widget(form.area) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.areaUnit) }}
                                    {{ form_widget(form.areaUnit) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.dirPurpose) }}
                                    {{ form_widget(form.dirPurpose) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address) }}
                                </div>
                                <div class="checkbox">
                                    {{ form_widget(form.isElectricity) }}
                                    {{ form_label(form.isElectricity) }}
                                </div>
                                <div class="checkbox">
                                    {{ form_widget(form.isSewerage) }}
                                    {{ form_label(form.isSewerage) }}
                                </div>
                                <div class="checkbox">
                                    {{ form_widget(form.isWaterSupply) }}
                                    {{ form_label(form.isWaterSupply) }}
                                </div>
                                <div class="checkbox">
                                    {{ form_widget(form.isRoad) }}
                                    {{ form_label(form.isRoad) }}
                                </div>
                                <div class="checkbox">
                                    {{ form_widget(form.isGas) }}
                                    {{ form_label(form.isGas) }}
                                </div>

                                <div class="form-group">
                                    <div id="advertisement_prototype_photos" data-prototype="<div>{{ form_widget(form.photos.vars.prototype)|e }}</div>">
                                       {# {% for photo in form.photos %}
                                            <div>
                                            <button type='button' class='btn btn-danger btn-sm remove-file'><i class='fa fa-times' aria-hidden='true'></i></button>

                                                {{ form_widget(photo) }}
                                               #}{# {{  dump(photo) }}#}{#
                                            </div>
                                        {% endfor %}#}

                                    </div>
                                    <div style="display:none">
                                        {{ form_widget(form.photos) }}
                                    </div>
                                    <button id="add-photo-button" type='button' class='btn btn-warning btn-sm'><i class='fas fa-plus'></i> Зображення</button>
                                </div>
                               {# <button type='button' class='btn btn-danger btn-xs' onclick='removeFile($(this));'><i class='fa fa-times' aria-hidden='true'></i></button>#}
                               {# <div class="form-group">
                                    {{ form_label(form.coordB) }}
                                    {{ form_widget(form.coordB) }}

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.coordL) }}
                                    {{ form_widget(form.coordL) }}

                                </div>#}
                                <small>* - поля, обов'язкові для заповнення</small>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                {{ form_widget(form.save, {'label':'Зберегти','attr':{'class':'btn btn-success btn-lg btn-block'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <i id="advertisement-map-marker" class="fas fa-map-pin"></i>
                    </div>


                    <!-- /.box -->

                    <!-- Form Element sizes -->


                    <!-- /input-group -->

                    <div class="col-lg-6">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Місцерозташування земельної ділянки</h3>
                            </div>
                            <div id="map-create-container"></div>

                        </div>


                    </div>

                </section>
            </div>
        {% endblock %}
    </div>

{% endblock %}
