{% extends 'AppBundle:cabinet:index.html.twig' %}


{% block body %}
    <div class="wrapper">
        {% block main_sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block content_wrapper %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        Домашня сторінка
                    </h1>
                </section>
                <section class="content">
                    <div class="row">


                        <div class="col-lg-3">
                            <!-- Profile Image -->
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <div class="profile-user-img img-responsive img-circle text-center" style="width: 110px; padding: 13px" ><i style="font-size: 78px" class="far fa-user"></i></div>

                                    <h3 class="profile-username text-center">{{ app.user.username }}</h3>

                                   {# <p class="text-muted text-center">Software Engineer</p>#}

                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>{{ 'Ім\'я'|trans }}:</b> <a class="pull-right">{{ data.user.firstName }}</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{{ 'Електронна адреса'|trans }}:</b> <a class="pull-right">{{ data.user.email }}</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{{ 'Номер телефону'|trans }}:</b> <a class="pull-right">{{ data.user.phoneNum }}</a>
                                        </li>
                                    </ul>

                                    <a href="{{ path('cabinet.object_edit', {'entity':'user', 'id':app.user.id}) }}" class="mt-3 my-btn btn my-btn-blue btn-block"><b>Редагувати</b></a>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>{{ data.countAdvertisement.countAll }}</h3>
                                        <p>Всього оголошень</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-bullhorn"></i>
                                    </div>
                                    <a href="{{ path('cabinet_get_my_advertisement', {'selected':'active'}) }}"
                                       class="small-box-footer">Детальніше &nbsp; <i
                                                class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>{{ data.totalViewCount }}</h3>
                                        <p>Кількість переглядів</p>
                                    </div>
                                    <div class="icon">
                                        <i class="far fa-eye"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">Всього</a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3>44</h3>

                                        <p>User Registrations</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i
                                                class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3>65</h3>

                                        <p>Unique Visitors</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i
                                                class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                        </div>
                    </div>


                    <!-- /.col -->
                    <!-- /.row -->
                </section>
            </div>
        {% endblock %}
    </div>

{% endblock %}
