{% extends 'AppBundle::index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/cabinet.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/cabinet.js') }}"></script>


{% endblock %}

{% block body %}

<!-- Site wrapper -->
    <!-- =============================================== -->

    {% block main_sidebar %}
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">Навігація по розділам</li>
                    <li class=" {{ app.request.attributes.get("_route") == 'cabinet_index' ? 'active' }}">
                        <a href="{{ path('cabinet_index') }}">
                            <i class="fas fa-home"></i> <span>Домашня сторінка</span>
                        </a>
                    </li>
                    <li class="treeview  {{ app.request.attributes.get('_route')|slice(0, 28) == 'cabinet_get_my_advertisement' ? 'menu-open'}} ">
                        <a href="#">
                            <i class="fas fa-clipboard-list"></i>
                            <span>Оголошення</span>
                            <span class="pull-right-container">
                                <i class="fas fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu sub-menu-1" {{ app.request.attributes.get('_route')|slice(0, 28) == 'cabinet_get_my_advertisement' ? 'style="display:block"'}} >
                                    <li class="sub-menu-select {{ app.request.attributes.get("selected") == 'active' ? 'active' }}">
                                        <a href="{{ path('cabinet_get_my_advertisement', {'selected' : 'active'}) }}">

                                            <span>Активні</span>
                                            <span class="pull-right-container">
                                                {%  if  data.countNotViewMessages['1'] is defined %}
                                                    <small class="label mr-0 pull-right bg-warning" data-placement="bottom" data-toggle="tooltip"  title="Непрочитаних повідомлень">
                                                      {{ data.countNotViewMessages['1'].count }}
                                                    </small>
                                                {% endif  %}
                                              <small class="label pull-right mr-0 color-grey" data-placement="bottom"  data-toggle="tooltip" title="Всього оголошень">
                                                  {{ data.countAdvertisement['1'] is defined ? data.countAdvertisement['1'].count:0 }}
                                              </small>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sub-menu-select {{ app.request.attributes.get("selected") == 'pending' ? 'active' }}">
                                        <a href="{{ path('cabinet_get_my_advertisement', {'selected' : 'pending'}) }}">

                                            <span>На розгляді</span>
                                            <span class="pull-right-container">
                                                {%  if  data.countNotViewMessages['2'] is defined %}
                                                    <small class="label mr-0 pull-right bg-warning" data-placement="bottom" data-toggle="tooltip"  title="Непрочитаних повідомлень">
                                                      {{ data.countNotViewMessages['2'].count }}
                                                    </small>
                                                {% endif  %}
                                              <small class="label pull-right mr-0 color-grey" data-placement="bottom"  data-toggle="tooltip" title="Всього оголошень">
                                                  {{ data.countAdvertisement['2'] is defined ? data.countAdvertisement['2'].count:0 }}
                                              </small>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sub-menu-select {{ app.request.attributes.get("selected") == 'deactivated' ? 'active' }}">
                                        <a href="{{ path('cabinet_get_my_advertisement', {'selected' : 'deactivated'}) }}">

                                            <span> Деактивовані</span>
                                            <span class="pull-right-container">
                                              {%  if  data.countNotViewMessages['4'] is defined %}
                                                  <small class="label mr-0 pull-right bg-warning" data-placement="bottom" data-toggle="tooltip"  title="Непрочитаних повідомлень">
                                                      {{ data.countNotViewMessages['4'].count }}
                                                  </small>
                                              {% endif  %}
                                              <small class="label mr-0 pull-right color-grey" data-placement="bottom"  data-toggle="tooltip" title="Всього оголошень">
                                                  {{ data.countAdvertisement['4'] is defined ? data.countAdvertisement['4'].count:0 }}
                                              </small>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sub-menu-select {{ app.request.attributes.get("selected") == 'reject' ? 'active' }}">
                                        <a href="{{ path('cabinet_get_my_advertisement', {'selected' : 'reject'}) }}">

                                            <span>На доопрацюванні</span>
                                            <span class="pull-right-container">
                                                {%  if  data.countNotViewMessages['3'] is defined %}
                                                    <small class="label mr-0 pull-right bg-warning" data-placement="bottom" data-toggle="tooltip"  title="Непрочитаних повідомлень">
                                                      {{ data.countNotViewMessages['3'].count }}
                                                    </small>
                                                {% endif  %}
                                              <small class="label mr-0 pull-right color-grey" data-placement="bottom"  data-toggle="tooltip" title="Всього оголошень">
                                                  {{ data.countAdvertisement['3'] is defined ? data.countAdvertisement['3'].count:0 }}
                                              </small>
                                            </span>
                                        </a>
                                    </li>
                        </ul>
                    </li>
                    <li class="{% if app.request.attributes.get("_route") == 'cabinet_create_advertisement' %}
                                     active
                                {% endif %}">


                            <a href="{{ path('cabinet_create_advertisement') }}"><i class="far fa-plus-square"></i>
                                Створити оголошення</a>

                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
    {% endblock %}

    <!-- =============================================== -->

    {% block content_wrapper %}

    {% endblock %}

    {% endblock %}
    {% block footer %}
    {{ parent() }}
{% endblock %}