{% extends 'AppBundle:cabinet:index.html.twig' %}


{% block body %}
    <div class="wrapper">
        {% block main_sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block content_wrapper %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        Переглянути мої оголошення
                    </h1>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h3 class="box-title">Оголошення</h3>
                                </div>
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="pad margin no-print">
                                            <div class="callout callout-{{ label }} flash-{{ label }}"
                                                 style="margin-bottom: 0!important;">
                                                {# <h4><i class="fa fa-info"></i> Note:</h4>#}
                                            {{ message }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endfor %}
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="nav nav-tabs" id="tab-my-advertisement" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link {{ (selected == 'active-tab') ? 'active' }}" id="active-tab" data-toggle="tab" href="#active-tab-content"
                                               role="tab" aria-controls="home" aria-selected="{{ (selected == 'active-tab') ? 'true' : 'false' }}">
                                                Активні ({{ advertisements.myAdvertisementActive|length }})
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {{ (selected == 'pending-tab') ? 'active' }}" id="pending-tab" data-toggle="tab" href="#pending-tab-content"
                                               role="tab" aria-controls="profile" aria-selected="{{ (selected == 'pending-tab') ? 'true' : 'false' }}">На розгляді ({{ advertisements.myAdvertisementPending|length }})</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {{ (selected== 'deactivated-tab') ? 'active' }}" id="deactivated-tab" data-toggle="tab" href="#deactivated-tab-content"
                                               role="tab" aria-controls="contact" aria-selected="{{ (selected == 'deactivated-tab') ? 'true' : 'false' }}">
                                                Деактивовані ({{ advertisements.myAdvertisementDeactivated|length }})
                                                {% if data.countNotViewMessages > 0 %}
                                                    <span class="pull-right-container" style="vertical-align: text-bottom; font-size: 0.8rem">
                                                        <small class="label pull-right bg-yellow">{{ data.countNotViewMessages }}</small>
                                                    </span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="tab-my-advertisement-content">
                                        <div class="tab-pane fade  {{ (selected== 'active-tab') ? 'show active' }}" id="active-tab-content" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <div class="box-body">
                                                <table class="my_advertisement_table table ">
                                                    <thead>
                                                    <tr>
                                                        <th class="w-5 text-center align-middle">№ з/п</th>
                                                        <th class="w-5 text-center align-middle">Додано</th>
                                                        <th class="w-15 text-center align-middle">Фото</th>
                                                        <th class="w-25 text-center align-middle">Заголовок</th>
                                                        <th class="w-30 text-center align-middle">Текст об'яви</th>
                                                        <th class="w-10 text-center align-middle">Ціна</th>
                                                        <th class="w-10 text-center align-middle">Площа</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for advertisement in advertisements.myAdvertisementActive %}
                                                        {% set counter = ( counter | default(0) ) + 1 %}
                                                        <tr class="advertisement_one">
                                                            <th class="text-center align-middle" scope="row">{{ counter }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.addDate|date('d.m.Y') }}</th>
                                                            <th class="text-center align-middle" scope="row">
                                                                {% set photo = advertisement.photos|first %}
                                                                {% if photo %}
                                                                    <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'~photo.advertisement.id~'/'~photo.photoNameNew) }}">
                                                                {% else %}
                                                                    <img src="{{ asset('/bundles/app/picture/template_209_139.jpg') }}">
                                                                {% endif %}
                                                            </th>

                                                            <th class="font-light text-left text-left align-middle"
                                                                scope="row">{{ advertisement.textHead|isEmpty }}<br>
                                                                <a href="{{ path('advertisement_details', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-success btn-sm">Переглянути</a>
                                                                <a href="{{ path('cabinet_update_advertisement_id', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-primary btn-sm">Редагувати</a>
                                                                <a href="{{ path('cabinet_deactivate_my_advertisement', {'id':advertisement.id}) }}" class="deactivate-button btn btn-danger btn-sm" >Деактивувати</a>

                                                            </th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.textAbout|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.price|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.area|isEmpty }}</th>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade {{ (selected== 'pending-tab') ? 'show active' }}" id="pending-tab-content" role="pending-tab-content"
                                             aria-labelledby="profile-tab">
                                            <div class="box-body">
                                                <table class="my_advertisement_table table ">
                                                    <thead>
                                                    <tr>
                                                        <th class="w-5 text-center align-middle">№ з/п</th>
                                                        <th class="w-5 text-center align-middle">Додано</th>
                                                        <th class="w-15 text-center align-middle">Фото</th>
                                                        <th class="w-25 text-center align-middle">Заголовок</th>
                                                        <th class="w-30 text-center align-middle">Текст об'яви</th>
                                                        <th class="w-10 text-center align-middle">Ціна</th>
                                                        <th class="w-10 text-center align-middle">Площа</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>


                                                    {% for advertisement in advertisements.myAdvertisementPending %}
                                                        {% set counter = ( counter | default(0) ) + 1 %}
                                                        <tr class="advertisement_one">
                                                            <th class="text-center align-middle" scope="row">{{ counter }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.addDate|date('d.m.Y') }}</th>
                                                            <th class="text-center align-middle" scope="row">
                                                                {% set photo = advertisement.photos|first %}
                                                                {% if photo %}
                                                                    <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'~photo.advertisement.id~'/'~photo.photoNameNew) }}">
                                                                {% else %}
                                                                    <img src="{{ asset('/bundles/app/picture/template_209_139.jpg') }}">
                                                                {% endif %}
                                                            </th>
                                                            <th class="font-light text-left text-left align-middle" scope="row">

                                                                {{ advertisement.textHead|isEmpty }}<br>
                                                                <a href="{{ path('advertisement_details', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-success btn-sm">Переглянути</a>
                                                                <a href="{{ path('cabinet_update_advertisement_id', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-primary btn-sm">Редагувати</a>
                                                                <a href="{{ path('cabinet_deactivate_my_advertisement', {'id':advertisement.id}) }}" class="deactivate-button btn btn-danger btn-sm" >Деактивувати</a>
                                                            </th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.textAbout|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.price|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.area|isEmpty }}</th>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade {{ (selected== 'deactivated-tab') ? 'show active' }}" id="deactivated-tab-content" role="eactivated-tab-content"
                                             aria-labelledby="contact-tab">
                                            <div class="box-body">
                                                <table class="my_advertisement_table table ">
                                                    <thead>
                                                    <tr>
                                                        <th class="w-5 text-center align-middle">№ з/п</th>
                                                        <th class="w-5 text-center align-middle">Додано</th>
                                                        <th class="w-15 text-center align-middle">Фото</th>
                                                        <th class="w-25 text-center align-middle">Заголовок</th>
                                                        <th class="w-30 text-center align-middle">Текст об'яви</th>
                                                        <th class="w-10 text-center align-middle">Ціна</th>
                                                        <th class="w-10 text-center align-middle">Площа</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for advertisement in advertisements.myAdvertisementDeactivated %}
                                                        {% set counter = ( counter | default(0) ) + 1 %}
                                                        <tr class="advertisement_one">
                                                            <th class="text-center align-middle" scope="row">{{ counter }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.addDate|date('d.m.Y') }}</th>
                                                            <th class="text-center align-middle" scope="row">
                                                                {% set photo = advertisement.photos|first %}
                                                                {% if photo %}
                                                                    <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'~photo.advertisement.id~'/'~photo.photoNameNew) }}">
                                                                {% else %}
                                                                    <img src="{{ asset('/bundles/app/picture/template_209_139.jpg') }}">
                                                                {% endif %}
                                                            </th>

                                                            <th class="font-light text-left text-left align-middle" scope="row">
                                                                {% if advertisement.messages|length > 0 %}
                                                                    {% set countNotViewMessages = 0 %}
                                                                    {% for message in advertisement.messages %}
                                                                        {% if message.isView == false %}
                                                                            {% set  countNotViewMessages = countNotViewMessages  + 1  %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    {% if countNotViewMessages > 0 %}
                                                                        <span class="pull-right-container" style="vertical-align: text-bottom;">
                                                                            <small class="label pull-right bg-yellow">Непрочитаних повідомлень:{{ countNotViewMessages }}</small>
                                                                        </span>
                                                                    {% endif %}

                                                                {% endif %}
                                                                <br>
                                                                <a href="{{ path('advertisement_details', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-success btn-sm">
                                                                    Переглянути
                                                                </a>
                                                                <a href="{{ path('cabinet_update_advertisement_id', {'id':advertisement.id}) }}" class="mt-1 mb-1 btn btn-primary btn-sm">
                                                                    Редагувати
                                                                </a>
                                                                <a href="{{ path('cabinet_activate_advertisement', {'id':advertisement.id}) }}" class="deactivate-button btn btn-danger btn-sm">
                                                                    Активувати
                                                                </a>
                                                            </th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.textAbout|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.price|isEmpty }}</th>
                                                            <th class="font-light text-center align-middle"
                                                                scope="row">{{ advertisement.area|isEmpty }}</th>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
        {% endblock %}
    </div>

{% endblock %}
