{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block header %}
    <div class="header">
        <nav id='navbar_head' class="navbar navbar-expand-lg  shadow">
            {% block header_container %}
            <div class="container">
                <a class="navbar-brand logo-link " href="{{ path('main_index') }}">
                    <img class="logo" src=" {{ asset('bundles/app/img/logo.png') }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon color--white">
                    <i class="fas fa-align-justify"></i>
                   {# <i class="fas fa-bars"></i>#}
                </span>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link main-menu
                            {% if app.request.attributes.get("_route")|slice(0, 4) == 'main' or app.request.attributes.get("_route")|slice(0, 8) == 'homepage' %}
                                active
                            {% endif %}
                            " href="{{ path('main_index') }}"><img class="home"
                                                                   src="{{ asset('bundles/app/img/house-outline.png') }}"><span
                                        class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link main-menu
                            {% if app.request.attributes.get("_route")|slice(0, 13) == 'advertisement' %}
                                active
                            {% endif %}
                            " href="{{ path('advertisement_index') }}"><i
                                        class="far fa-list-alt"></i>{{ 'Оголошення'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link main-menu
                            {% if app.request.attributes.get("_route") == 'map_index' %}
                                 active
                            {% endif %}
                            " href="{{ path('map_index') }}">
                                <i class="fas fa-map-marked-alt"></i>{{ 'Карта'|trans }}</a>
                        </li>

                        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                {% if  is_granted('ROLE_ADMIN') %}
                                    <a class="nav-link main-menu {{ app.request.attributes.get("_route")|slice(0, 5) == 'admin' ? 'active' }}"
                                       href="{{ path('admin.index') }}">
                                        <i class="fas fa-tools"></i>{{ 'Панель адміністратора' }}
                                    </a>
                                {% else %}
                                    <a class="nav-link main-menu {{ app.request.attributes.get('_route')|slice(0, 7) == 'cabinet' ? 'active' }}"
                                       href="{{ path('cabinet_index') }}">
                                        <i class="fas fa-tools"></i>
                                        {{ 'Кабінет'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link main-menu" href="#">{{ 'Контакти'|trans }}</a>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item language-toggle">
                            <a href="
                            {% if app.request.attributes.get('_route') is not null%}
                             {% set locale = (app.request.locale == 'uk') ? 'ru': 'uk' %}
                                {{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}
                            {% endif %}
                                " class="main-menu nav-link">
                                {{ app.request.locale == app.request.defaultLocale ? 'UA': 'RU' }}
                            </a>
                        </li>
                        <li class="nav-item language-toggle hidden">
                       {#     <a href="
                            {% if app.request.attributes.get('_route') is not null%}
                                {{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': 'ru'})) }}
                            {% endif %}
                            " class="main-menu nav-link {{ app.request.locale == 'ru' ? 'active' }}">
                                RU
                            </a>
                        </li>#}
                        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a href="{{ path('fos_user_security_logout') }}" class="nav-link main-menu">
                                    <i class="fas fa-sign-out-alt"></i>{{ 'Вийти'|trans }}, {{ app.user.username }}</a>

                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link main-menu
                                        {% if app.request.attributes.get("_route") == 'fos_user_security_login' %}
                                            active
                                        {% endif %}
                                        " href="{{ path('fos_user_security_login') }}">
                                    <i class="btn-input far fa-user pr-2"></i>{{ 'Увійти'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </nav>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-4">
                    © 2018-2019. {{ 'Всі права захищені'|trans }}.
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer-title-block">{{ 'Розділи'|trans }}</div>
                    <nav>
                        <ul class="list-unstyled">

                            <li class="list-unstyled">
                                <a href="{{ path('advertisement_index') }}">{{ 'Головна'|trans }}</a>
                            </li>
                            <li class="">
                                <a href="{{ path('map_index') }}">{{ 'На карту'|trans }}</a>
                            </li>
                            {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                    {% if  is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('admin_index') }}">
                                            {{ 'Панель адміністратора'|trans }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('cabinet_index') }}">
                                            {{ 'Кабінет'|trans }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#">{{ 'Контакти'|trans }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer-title-block">{{ 'Обліковий запис'|trans }}</div>
                    <nav>
                        <ul class="list-unstyled">
                            <li class="list-unstyled">
                                {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'Вийти'|trans }}</a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'Увійти'|trans }}</a>
                                {% endif %}
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

