{#{% form_theme form '@App/form/fields.html.twig' %}#}
{% set strController = app.request.attributes.get('_route')|slice(0,3) %}

<div class="advertisement-filter hidden col-3" xmlns="http://www.w3.org/1999/html">
    {% for messages in app.flashes('filter-danger') %}
        <div class="alert alert-danger"> {{ messages }} </div>
    {% endfor %}
    {% if strController == 'map' %}
        {{ form_start(form,{'method': 'POST'}) }}
    {% else %}
        {{ form_start(form,{'method': 'GET'}) }}
    {% endif %}
    <div class="box box-solid hidden">
        <div class="box-header">
            {% if strController == 'map' %}
                <img src="{{ asset('bundles/app/img/filter-outline_white.png') }}">
            {% endif %}
            <div class="box-title">{{ 'Фільтр'|trans }}</div>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body no-padding">
            <div class="filter-result">
                {% if data.filterAttributes is defined %}
                    {% set strUri = app.request.requestUri|split('?', 2) %}
                    {% if  data.filterAttributes is not empty %}
                        <div>{{ 'Результати фільтрування'|trans }}</div>
                        <div class="filter-result-tags">
                            {% for item in  data.filterAttributes %}
                                {% if (item.strText is defined) %}
                                    <a href="{{ strUri[0] ~ '?' ~ item.strHref }}">
                                        <i class="fa fa-times"></i>
                                        {{ item.strText }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="filter-price">
                    <i class="fas fa-hand-holding-usd icon-color "></i>
                    <span name='price'>{{ 'Ціна'|trans }}, грн</span>
                    {{ form_widget(form.price) }}
                    <input id="slider-price" data-slider-id='ex1Slider' type="text"/>
                </li>
                <li class="filter-area">
                    <i class="fas fa-vector-square icon-color"></i>
                    <span>{{ 'Площа'|trans }}, га</span>
                    {{ form_widget(form.area) }}
                    <input id="slider-area" data-slider-id='ex2Slider' type="text"/>
                </li>
                <li class="filter-date">
                    <i class="far fa-calendar-alt icon-color"></i>
                    <span>{{ 'Дата'|trans }} {{ 'розміщення'|trans }}</span>
                    {{ form_widget(form.addDate) }}

                </li>
                <li class="filter-purpose">
                    <i class="fab fa-elementor icon-color"></i>
                    <span>{{ 'Цільове'|trans }} {{ 'призначення'|trans }}</span>
                    {{ form_widget(form.dirPurpose) }}
                </li>
                <li class="filter-provision">
                    <i class="fas fa-random icon-color"></i>
                    <span>{{ "Облаштування"|trans }}</span>
                    <div>
                        {{ form_widget(form.isRoad) }}
                        <label for="item_filter_isRoad">
                            <div class="provision" data-toggle="tooltip"
                                 title="{{ "Під'їзд з твердим покриттям"|trans }}">
                                <i class="sprite sprite-road"></i>
                            </div>
                        </label>
                        {{ form_widget(form.isWaterSupply) }}
                        <label for="item_filter_isWaterSupply">
                            <div class="provision" data-toggle="tooltip" title="{{ "Водопостачання"|trans }}">
                                <i class="sprite sprite-water"></i>
                            </div>
                        </label>
                        {{ form_widget(form.isGas) }}
                        <label for="item_filter_isGas">
                            <div class="provision" data-toggle="tooltip" title="{{ "Газопостачання"|trans }}">
                                <i class="sprite sprite-walve"></i>
                            </div>
                        </label>
                        {{ form_widget(form.isSewerage) }}
                        <label for="item_filter_isSewerage">
                            <div class="provision" data-toggle="tooltip"
                                 title="{{ "Централізована каналізація"|trans }}">
                                <i class="sprite sprite-waste"></i>
                            </div>
                        </label>
                        {{ form_widget(form.isElectricity) }}
                        <label for="item_filter_isElectricity">
                            <div class="provision" data-toggle="tooltip" title="{{ "Елекрозабезпечення"|trans }}">
                                <i class="sprite sprite-idea"></i>
                            </div>
                        </label>
                    </div>
                </li>
                {% if strController == 'map' %}
                <li class="filter-geometry">
                    <i class="fas fa-chart-pie icon-color"></i>
                    <span>{{ 'Геометрія'|trans }}</span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkboxGeometry" value="option1"
                                       class="custom-control-input">
                                <label class="custom-control-label" for="checkboxGeometry"></label>
                            </div>
                        </div>
                        {#<span class="input-group-addon mr-2">
                            <input type="checkbox" id="checkboxGeometry" value="option1">
                        </span>#}
                        <select id="typeGeometry" class="form-control mr-2 w-40 " disabled>
                            <option value="Circle" selected>{{ 'Радіус'|trans }}</option>
                            <option value="Polygon">{{ 'Полігон'|trans }}</option>
                            <option value="None">Курсор</option>
                        </select>

                        <input type="number" id="geomRadius" class="form-control" disabled></input>
                    </div>
                </li>
                {% endif %}

                <li class="filter-btn">
                    {% if strController == 'map' %}
                        <input value="{{ 'Очистити'|trans }} {{ 'фільтр'|trans }}" class="btn-grey filter-clear"
                               type="button" >

                        <input id="filter-submit" type="button"
                               name="submit-filter" value="{{ 'Фільтрувати'|trans }}" class="btn btn-blue">
                    {% else %}

                        {% set strUri = app.request.requestUri|split('?', 2) %}
                        <a class="btn-grey" href="{{ strUri[0] }}">{{ 'Очистити'|trans }}</a>
                        <div class="filter-container btn-container">
                            <input id="filter-submit" type="submit"
                                   name="submit-filter" value="{{ 'Фільтрувати'|trans }}" class="btn btn-blue-cut">
                            <button id="btn-filter" type="submit" name="filter" class="btn btn-position-cut"
                                    formaction="{{ path('map_index') }}" formmethod="post">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="box-footer">
            <input type="hidden" id="featureGeom" name="featureGeom" value="">
            <input type="hidden" id="circleRadius" name="circleRadius" value="">

        </div>
    </div>
    {{ form_end(form) }}
</div>