{% extends 'AppBundle::index.html.twig' %}

{% if app.user and advertisement.users and (app.user.id == advertisement.users.id  or is_granted('ROLE_ADMIN')) %}
    {% form_theme messagesForm '@App/form/fields.html.twig' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/advertisement.css') }}">

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/advertisement.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="pad margin no-print">
                    <div class="callout callout-{{ label }} flash-{{ label }}"
                         style="margin-bottom: 0!important;">
                        {# <h4><i class="fa fa-info"></i> Note:</h4>#}
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row col-12 justify-content-around m-auto pl-0 pr-0">
            <div class="detail-column">
                <div class="details-picture-miniature">
                    <div class="details-picture-miniature-container">
                        {% if advertisement.photos|first %}
                            {% for photo in advertisement.photos %}
                                <img class="img-thumbnail img-miniature"
                                     src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                                         ~photo.advertisement.id~'/'~photo.photoNameNew) }}"
                                     alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="details-picture">
                {#-------------------------bootstrap caruseusel#}
                <div id="carouselExampleControls" class="carousel carousel-fade" data-ride="carousel">
                    {% if advertisement.photos|length > 1 %}
                        <ol class="carousel-indicators">
                            {% for i, photo in advertisement.photos %}
                                <li data-target="#carouselExampleControls" data-slide-to="{{ i }}"
                                        {% if i == 0 %} class="active" {% endif %} ></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <div class="carousel-inner">
                        {% if advertisement.photos|first %}
                            {% for i, photo in advertisement.photos %}
                                <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                    <img class="d-block "
                                         src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                                             ~photo.advertisement.id~'/'~photo.photoNameNew) }}" alt="">
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img class="d-block" src="{{ asset('bundles/app/img/empty_500.jpg') }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                    {% if advertisement.photos|length > 1 %}
                        <a class="carousel-control-prev carousel-control-change" href="#carouselExampleControls"
                           role="button" data-slide="prev">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next carousel-control-change" href="#carouselExampleControls"
                           role="button" data-slide="next">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
                <div class="details-panel d-flex">
                    <i class="far fa-clock"></i>
                    <span>
                        {{ (advertisement.updateDate) ? advertisement.updateDate|date("d.m.Y H:i"):advertisement.addDate|date("d.m.Y H:i") }}
                    </span>
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Осокорки</span>
                    <label class="d-inline-block ml-auto pr-3" data-toggle="tooltip" data-placement="bottom"
                           title="{{ 'кількість переглядів'|trans }}">
                        <i class="fas fa-eye"></i>
                        <span>{{ advertisement.viewCount }}</span>
                    </label>
                </div>
            </div>
            <div class="details-map">
                <div id="details-map-container">
                    <div class="details-map-navigation">
                        <button id="details-map-full" type="button" class="btn btn-default cp-layer"
                                data-toggle="tooltip"
                                title="{{ 'Зумувати на ділянку'|trans }}"></button>

                        {#                        <button  class="cp-layer" type="button" tabindex="0"
                                                        data-placement="bottom"
                                                        data-toggle="tooltip" title="{{ 'Зумувати на ділянку'|trans }}">
                                                </button>#}
                    </div>
                </div>
                <div class="details-map-region">
                    {{ advertisement.dirRegion ? advertisement.dirRegion.natoobl }} область
                    {% if advertisement.dirDistrict %}
                        <i class="fas fa-long-arrow-alt-right"></i>
                        {{ advertisement.dirDistrict.natoray }} район
                        <i class="fas fa-long-arrow-alt-right"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row col-12 justify-content-around m-auto pl-0 pr-0 pt-3">
            <div class="col-lg-8">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="details-title">{{ advertisement.textHead|isEmpty }}</div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <tr>
                                <td class="tab-col-title">{{ 'Площа'|trans }}:</td>
                                <td>
                                    {{ advertisement.area|number_format(4,'.',' ') }} {{ 'га'|trans }}
                                </td>
                                <td><span class="badge bg-red">55%</span></td>
                            </tr>
                            <tr>

                                <td class="tab-col-title">{{ 'Ціна'|trans }}:</td>
                                <td>
                                    <span class="details-main-price">{{ advertisement.price|number_format(0,',',' ') }}
                                        ₴</span>
                                    |
                                    {{ advertisement.area ? (advertisement.price/advertisement.area/100)|number_format(0,',',' ') }}
                                    ₴/сотка
                                </td>
                                <td><span class="badge bg-yellow">70%</span></td>
                            </tr>
                            <tr>

                                <td class="tab-col-title">{{ 'Цільове призначення'|trans }}:</td>
                                <td>
                                    {{ advertisement.dirPurpose ? advertisement.dirPurpose.text :'Не вказано цільове призначення'|trans }}
                                </td>
                                <td><span class="badge bg-light-blue">30%</span></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="details-provision col-xl-6 col-md-7 col-sm-9 d-flex justify-content-around">
                    <div class="details-road {{ advertisement.isRoad ? 'active' }}"
                         data-toggle="tooltip"
                         title=" {{ advertisement.isRoad ? 'Присутній'|trans : 'Відсутній'|trans }}
                          {{ "під'їзд з твердим покриттям"|trans }}">
                        <img src="{{ asset('bundles/app/img/ico/road_'~(advertisement.isRoad ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-water {{ advertisement.isWaterSupply ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isWaterSupply ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'водопостачання'|trans }} ">
                        <img src="{{ asset('bundles/app/img/ico/water_'~(advertisement.isWaterSupply ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-gas {{ advertisement.isGas ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isGas ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'газопостачання'|trans }} ">
                        <img src="{{ asset('bundles/app/img/ico/valve_'~(advertisement.isGas ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-sewerage {{ advertisement.isSewerage ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isSewerage ? 'Присутня'|trans : 'Відсутня'|trans }} {{ 'централізована каналізація'|trans }} ">
                        <img src="{{ asset('bundles/app/img/ico/waste_'~(advertisement.isSewerage ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-electricity {{ advertisement.isElectricity ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isElectricity ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'елекрозабезпечення'|trans }} ">
                        <img src="{{ asset('bundles/app/img/ico/idea_'~(advertisement.isElectricity ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                </div>
                <div class="details-text-about">{{ advertisement.textAbout|isEmpty|nl2br }}</div>
                <div class="details-services mb-4">
                    <div>
                        <a href="">
                            <i class="fas fa-bullhorn"></i>
                            <span>{{ 'Рекламувати'|trans }}</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fas fa-share-alt"></i>
                            <span>{{ 'Поширити'|trans }}</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fas fa-book-open"></i>
                            <span>{{ 'Поскаржитись'|trans }}</span>
                        </a>
                    </div>
                </div>
                <div class="block-message">
                    {% if app.user and advertisement.users and (app.user.id == advertisement.users.id  or is_granted('ROLE_ADMIN')) %}
                        {% if(advertisement.messages|length > 0) %}
                            {% for message in advertisement.messages|reverse %}
                                <div class="message-row">
                                    <div class="text-info  message-info d-flex justify-content-between">
                                        <div>
                                            <i class="far fa-user-circle"></i>
                                            {{ message.users.username }}
                                        </div>
                                        <div>
                                            <i class="far fa-clock"></i>
                                            {{ message.addDate|date("d.m.Y H:i") }}
                                        </div>
                                    </div>
                                    <div class="pl-2">
                                        {{ message.text }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if  is_granted('ROLE_ADMIN') %}
                        <div class="details-communication">Статус
                            повідомлення: {{ advertisement.getDirStatus.name }}</div>
                        {% if messagesForm is not null and (advertisement.dirStatus.id != 4) %}
                            {#<div class="details-communication">Написати автору</div>#}
                            {{ form_start(messagesForm, {'method': 'POST', 'attr':{'id': 'form-new-messages', 'class':'mt-4'}}) }}
                            {{ form_errors(messagesForm) }}
                            <div class="form-group">
                                {{ form_widget(messagesForm.text) }}
                                {{ form_errors(messagesForm.text) }}
                            </div>
                            <div class="block-btn">
                                {% if advertisement.dirStatus.id == 2 %}
                                    <a href="{{ path('advertisement_activate_advertisement', {'id':advertisement.id}) }}"
                                       class="activate-button btn btn-success">Активувати</a>
                                {% endif %}
                                <input type="submit" name="deactivate" class="deactivate-button btn btn-danger"
                                       value="Повернути на доопрацювання"/>
                            </div>
                            {{ form_end(messagesForm) }}
                        {% endif %}


                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 mt-sm-4 mt-md-5 mt-lg-0">
                <div class="box box-primary" id="details-user">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <a class="text-decoration-none text-color" href="">
                                {{ advertisement.users.usernameCanonical|isEmpty }}
                            </a>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 d-flex ">
                                <div class="details-author-photo m-auto">
                                    <i class="far fa-user-circle"></i>
                                </div>
                                <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-7 col-sm-7 pl-0 pr-0 d-flex flex-wrap justify-content-center">

                                <a class="btn btn-app ">
                                    <i class="fa fa-list-ul"></i>{{ "Інші об'яви"|trans }}
                                </a>

                                <a class="btn btn-app">
                                    <i class="fa fa-envelope"></i> {{ "Написати листа"|trans }}
                                </a>

                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="overlay d-flex">
                        <div class="m-auto">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="box-footer with-border d-flex">
                        <div class="col-2 input-group-addon">
                            <i class="fa fa-phone "></i>
                            {#  <i class="fa fa-refresh fa-spin"></i>#}

                        </div>
                        <div class="phone col-6">
                            {{ (advertisement.declarantPhoneNum|trim('38','left'))|slice(0,3) ~ '*******' }}
                        </div>
                        <a href="" class="text-decoration-none show-phone d-inline-block col-4"
                           data-id='{{ advertisement.Id }}' id="phone-show">{{ 'Показати'|trans }}
                        </a>
                    </div>

                </div>
                <div id="details-geom">{{ advertisement.geom }}</div>
            </div>
        </div>
    </div>
{% endblock %}

