{% extends 'AppBundle::index.html.twig' %}

{% if app.user and advertisement.users and (app.user.id == advertisement.users.id  or is_granted('ROLE_ADMIN')) %}
    {% form_theme messagesForm '@App/form/fields.html.twig' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/advertisement.css') }}">

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/advertisement.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="pad margin no-print">
                    <div class="callout callout-{{ label }} flash-{{ label }}"
                         style="margin-bottom: 0!important;">
                        {# <h4><i class="fa fa-info"></i> Note:</h4>#}
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-1 detail-column">
                <div class="details-picture-miniature">
                    <div class="details-picture-miniature-container">
                        {% if advertisement.photos|first %}
                            {% for photo in advertisement.photos %}
                                <img class="img-thumbnail img-miniature"
                                     src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                                         ~photo.advertisement.id~'/'~photo.photoNameNew) }}"
                                     alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="details-picture col-6">
                {#-------------------------bootstrap caruseusel#}
                <div id="carouselExampleControls" class="carousel carousel-fade" data-ride="carousel">
                    {% if advertisement.photos|length > 1 %}
                        <ol class="carousel-indicators">
                            {% for i, photo in advertisement.photos %}
                                <li data-target="#carouselExampleControls" data-slide-to="{{ i }}"
                                        {% if i == 0 %} class="active" {% endif %} ></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <div class="carousel-inner">
                        {% if advertisement.photos|first %}
                            {% for i, photo in advertisement.photos %}
                                <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                    <img class="d-block "
                                         src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                                             ~photo.advertisement.id~'/'~photo.photoNameNew) }}" alt="">
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img class="d-block" src="{{ asset('bundles/app/img/empty_500.jpg') }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                    {% if advertisement.photos|length > 1 %}
                        <a class="carousel-control-prev carousel-control-change" href="#carouselExampleControls"
                           role="button" data-slide="prev">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next carousel-control-change" href="#carouselExampleControls"
                           role="button" data-slide="next">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
                <div class="details-panel">
                    <i class="far fa-clock"></i>
                    <span>
                        {{ (advertisement.updateDate) ? advertisement.updateDate|date("d.m.Y H:i"):advertisement.addDate|date("d.m.Y H:i") }}
                    </span>
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Осокорки</span>
                    <label data-toggle="tooltip" data-placement="bottom"  title="кількість переглядів">
                        <i class="fas fa-eye"></i>
                        <span>{{ advertisement.viewCount }}</span>
                    </label>
                </div>
            </div>
            <div class="details-map col-4">
                <div id="details-map-container">
                    <div class="details-map-navigation">
                        <button id="details-map-full" class="cp-layer" type="button" tabindex="0" data-placement="bottom"
                                data-toggle="tooltip" title="Зумувати на ділянку">
                        </button>
                    </div>
                </div>
                <div class="details-map-region">
                    {{ advertisement.dirRegion ? advertisement.dirRegion.natoobl }} область
                    {% if advertisement.dirDistrict %}
                        <i class="fas fa-long-arrow-alt-right"></i>
                        {{ advertisement.dirDistrict.natoray }} район
                        <i class="fas fa-long-arrow-alt-right"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <div class="details-title">{{ advertisement.textHead|isEmpty }}</div>
                <div class="details-main">
                    <div class="details-main-caption">
                        <div>Площа:</div>
                        <div>Ціна:</div>
                        <div>Цільове призначення:</div>
                    </div>
                    <div class="details-main-values">
                        <div>{{ (advertisement.area*100)|number_format(0,',',' ') }} соток</div>
                        <div>
                            <span class="details-main-price">{{ advertisement.price|number_format(0,',',' ') }} $</span>
                            |
                            {{ advertisement.area ? (advertisement.price/advertisement.area/100)|number_format(0,',',' ') }}
                            $ /сотка
                        </div>
                        <div>
                            {{ advertisement.dirPurpose ? advertisement.dirPurpose.text :'Не вказано цільове призначення' }}
                        </div>
                    </div>
                </div>
                <div class="details-provision">
                    <div class="details-road {{ advertisement.isRoad ? 'active' }}"
                         data-toggle="tooltip" title=" {{ advertisement.isRoad ? 'Присутній' : 'Відсутній' }}
                          під'їзд з твердим покриттям ">
                        <img src="{{ asset('bundles/app/img/ico/road_'~(advertisement.isRoad ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-water {{ advertisement.isWaterSupply ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isWaterSupply ? 'Присутнє ' : 'Відсутнє ' }}водопостачання ">
                        <img src="{{ asset('bundles/app/img/ico/water_'~(advertisement.isWaterSupply ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-gas {{ advertisement.isGas ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isGas ? 'Присутнє ' : 'Відсутнє ' }}газопостачання ">
                        <img src="{{ asset('bundles/app/img/ico/valve_'~(advertisement.isGas ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-sewerage {{ advertisement.isSewerage ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isSewerage ? 'Присутня ' : 'Відсутня ' }}централізована каналізація ">
                        <img src="{{ asset('bundles/app/img/ico/waste_'~(advertisement.isSewerage ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                    <div class="details-electricity {{ advertisement.isElectricity ? 'active' }}"
                         data-toggle="tooltip"
                         title="{{ advertisement.isElectricity ? 'Присутнє ' : 'Відсутнє ' }}елекрозабезпечення ">
                        <img src="{{ asset('bundles/app/img/ico/idea_'~(advertisement.isElectricity ? 'on' : 'off')~'.png') }}"
                             alt="">
                    </div>
                </div>
                <div class="details-text-about">{{ advertisement.textAbout|isEmpty|nl2br }}</div>
                <div class="details-services mb-4">
                    <div>
                        <a href="">
                            <i class="fas fa-bullhorn"></i>
                            <span>Рекламувати</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fas fa-share-alt"></i>
                            <span>Поширити</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fas fa-book-open"></i>
                            <span>Поскаржитись</span>
                        </a>
                    </div>
                </div>
                <div class="block-message">
                    {% if app.user and advertisement.users and (app.user.id == advertisement.users.id  or is_granted('ROLE_ADMIN')) %}
                        {% if(advertisement.messages|length > 0) %}
                            {% for message in advertisement.messages|reverse  %}
                                <div class="message-row">
                                    <div class="text-info  message-info d-flex justify-content-between">
                                        <div>
                                            <i class="far fa-user-circle"></i>
                                            {{ message.users.username }}
                                        </div>
                                        <div>
                                            <i class="far fa-clock"></i>
                                            {{ message.addDate|date("d.m.Y H:i") }}
                                        </div>
                                    </div>
                                    <div class="pl-2">
                                        {{ message.text }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% if  is_granted('ROLE_ADMIN') %}
                        <div class="details-communication">Статус повідомлення: {{ advertisement.getDirStatus.name }}</div>
                        {% if messagesForm is not null and (advertisement.dirStatus.id != 4) %}
                            {#<div class="details-communication">Написати автору</div>#}
                            {{ form_start(messagesForm, {'method': 'POST', 'attr':{'id': 'form-new-messages', 'class':'mt-4'}}) }}
                            {{ form_errors(messagesForm) }}
                                    <div class="form-group">
                                        {{ form_widget(messagesForm.text) }}
                                        {{ form_errors(messagesForm.text) }}
                                    </div>
                            <div class="block-btn">
                                {% if advertisement.dirStatus.id == 2 %}
                                    <a href="{{ path('advertisement_activate_advertisement', {'id':advertisement.id}) }}" class="activate-button btn btn-success" >Активувати</a>
                                {% endif %}
                                <input type="submit" name="deactivate" class="deactivate-button btn btn-danger" value="Повернути на доопрацювання" />
                            </div>
                            {{ form_end(messagesForm) }}
                        {% endif %}


                {% endif %}
                </div>
            </div>
            <div class="col-4">
                <div class="details-author-container">
                    <div class="details-author">
                        <div class="details-author-photo">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="details-author-phones">
                            <div> Vetal33</div>
                            <div> 063-742-8874</div>
                            <div> 063-742-8874</div>
                        </div>
                        <div class="details-author-additional">
                            <a class="details-author-advertisement" href="">
                                <i class="fas fa-list-ul"></i> Інші об'яви
                            </a>
                            <a class="details-author-writing" href="">
                                <i class="far fa-envelope"></i> Написати листа
                            </a>
                        </div>
                    </div>
                </div>
                <div id="details-geom">{{ advertisement.geom }}</div>
            </div>
        </div>
    </div>
{% endblock %}

