{% set strController = app.request.attributes.get('_route')|slice(0,3) %}

<div class="advertisement-filter col-3">
    {% for messages in app.flashes('danger') %}

        <div class="alert alert-danger"
             style="margin-bottom: 0!important;">
            {{ messages }}
        </div>

    {% endfor %}
    {% if strController == 'map' %}
        {{ form_start(form,{'method': 'POST'}) }}
    {% else %}
        {{ form_start(form,{'method': 'GET'}) }}
    {% endif %}
    <div class="box box-solid hidden">
        <div class="box-header">
            {% if strController == 'map' %}
                <img src="{{ asset('bundles/app/img/filter-outline_white.png') }}">
            {% endif %}
            <div class="box-title">Фільтр</div>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body no-padding">
            <div class="filter-result">
                {% if data.filterAttributes is defined %}
                    {% set strUri = app.request.requestUri|split('?', 2) %}
                    {% if  data.filterAttributes is not empty %}
                        <div>Результати фільтрування</div>
                        <div class="filter-result-tags">
                            {% for item in  data.filterAttributes %}
                                {% if (item.strText is defined) %}
                                    <a href="{{ strUri[0] ~ '?' ~ item.strHref }}">
                                        <i class="fa fa-times"></i>
                                        {{ item.strText }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="filter-price">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span name='price'>Ціна, грн</span>
                    {{ form_widget(form.price) }}

                    <input id="slider-price" data-slider-id='ex1Slider' type="text"/>
                </li>
                <li class="filter-area">
                    <i class="fas fa-vector-square"></i>
                    <span>Площа, га</span>
                    {{ form_widget(form.area) }}
                    <input id="slider-area" data-slider-id='ex2Slider' type="text"/>
                </li>
                <li class="filter-date">
                    <i class="far fa-calendar-alt"></i>
                    <span>Дата розміщення</span>
                    {{ form_widget(form.addDate) }}

                </li>
                <li class="filter-purpose">
                    <i class="fab fa-elementor"></i>
                    <span>Цільове призначення</span>
                    {{ form_widget(form.dirPurpose) }}
                </li>
                <li class="filter-provision">

                    <i class="fas fa-random"></i>
                    <span>Облаштування</span>
                    <div>
                        {{ form_widget(form.isRoad) }}
                        <label for="item_filter_isRoad">
                            <div class="provision"><i class="sprite sprite-road"></i></div>
                        </label>
                        {{ form_widget(form.isWaterSupply) }}
                        <label for="item_filter_isWaterSupply">
                            <div class="provision"><i class="sprite sprite-water"></i></div>
                        </label>
                        {{ form_widget(form.isGas) }}
                        <label for="item_filter_isGas">
                            <div class="provision"><i class="sprite sprite-walve"></i></div>
                        </label>
                        {{ form_widget(form.isSewerage) }}
                        <label for="item_filter_isSewerage">
                            <div class="provision"><i class="sprite sprite-waste"></i></div>
                        </label>
                        {{ form_widget(form.isElectricity) }}
                        <label for="item_filter_isElectricity">
                            <div class="provision"><i class="sprite sprite-idea"></i></div>
                        </label>
                    </div>
                </li>
                <li class="filter-btn">
                    {% if strController == 'map' %}
                        {#  <a class="btn-grey filter-clear" href="">Очистити фільтр </a>#}
                        <input value="Очистити фільтр" class="btn-grey filter-clear" type="button">
                    {% else %}
                        {% set strUri = app.request.requestUri|split('?', 2) %}

                        <a class="btn-grey" href="{{ strUri[0] }}">Очистити фільтр </a>
                    {% endif %}

                    <input id="filter-submit"
                            {% if strController == 'map' %}
                                type="button"
                            {% else %}
                                type="submit"
                            {% endif %}
                           name="submit-filter" value="Фільтрувати" class="btn btn-blue">
                </li>

            </ul>
            {#            {% if strController == 'map' %}
                            <div id="id-advertisement"></div>
                        {% endif %}#}
        </div>
    </div>
    {{ form_end(form) }}
</div>