{% extends 'AppBundle::index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/advertisement.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/advertisement.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('@App/advertisement/_filter.html.twig', { 'form': form }) }}
            <div class="advertisement col-9">
                <div class="advertisement-control-panel">
                    <div class="sorting-price">
                        <div class="dropdown ">
                            <button class="btn" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <div>{{ data.sortString|trans }}</div>
                                <div><i class="fas fa-caret-down"></i></div>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {{ knp_pagination_sortable(advertisement, 'Спочатку дорожчі'|trans, 'q.price', {}, {'direction': 'desc'}) }}
                                {{ knp_pagination_sortable(advertisement, 'Спочатку дешевші'|trans, 'q.price', {}, {'direction': 'asc'}) }}
                                {{ knp_pagination_sortable(advertisement, 'Спочатку менші за площею'|trans, 'q.area', {}, {'direction': 'asc'}) }}
                                {{ knp_pagination_sortable(advertisement, 'Спочатку більші за площею'|trans, 'q.area', {}, {'direction': 'desc'}) }}
                                {{ knp_pagination_sortable(advertisement, 'Спочатку раніше додані'|trans, 'q.addDate', {}, {'direction': 'asc'}) }}
                                {{ knp_pagination_sortable(advertisement, 'Спочатку пізніше додані'|trans, 'q.addDate', {}, {'direction': 'desc'}) }}
                            </div>
                        </div>
                    </div>

                    <div class="count">
                        {{ 'Всього'|trans }} {{ 'результатів'|trans|raw }}: {{ advertisement.getTotalItemCount }}
                    </div>
                    <a href="{{ path('advertisement_index',{'typeView' : 'tab'}) ~ (app.request.queryString ? '?' ~
                    app.request.queryString ) }}">
                        <i class="fas fa-th"></i>
                    </a>
                    <a href="{{ path('advertisement_index',{'typeView' : 'list'})~ (app.request.queryString ? '?' ~
                    app.request.queryString) }}">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                {% if (advertisement.getTotalItemCount == 0) %}
                    <div>{{ 'Жодного результату не знайдено'|trans }}!</div>
                {% else %}
                    {% for item in advertisement %}
                        {% if data.typeView == 'tab' %}
                            {{ include('@App/advertisement/tab_view.html.twig', { 'item': item }) }}
                        {% else %}
                            {{ include('@App/advertisement/list_view.html.twig', { 'item': item }) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row col-12 justify-content-center">
                <div class="navigation  text-center">
                    {{ knp_pagination_render(advertisement) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}