{% extends 'AppBundle::index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/advertisement.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/advertisement.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="ogoloshenny col-10">
                {% for item in advertisement %}
                    <div class="ogol-one">
                        <div class="ogol-img">
                            <img class="img-fluid" src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                        </div>

                        <div class="ogol-text">
                            <p>Заголовок</p>
                            <p>Ціна:{{ item.price }}</p>
                            <p>Площа:{{ item.area }}</p>
                            <p>Дата:{{ item.addDate|date("H:m, d.m.Y") }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="navigation text-center">
                    {{ pagerfanta(advertisement, 'twitter_bootstrap4_translated', { routeName: 'advertisement_index_paginated', omitFirstPage: false}) }}
                </div>
                <!--
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>
                <div class="ogol-one">
                    <div class="ogol-img">
                        <img src="{{ asset('bundles/app/img/picture/parcel300.jpg') }}">
                    </div>
                    <div class="ogol-text">
                        <p>Заголовок</p>
                        <p>Ціна:</p>
                        <p>Площа:</p>
                    </div>
                </div>-->

            </div>
            <div class="poster-setting col-2">
                <div class="ogol-text">
                    <p>Заголовок</p>
                    <p>Ціна:</p>
                    <p>Площа:</p>
                </div>
            </div>
        </div>
    </div>
    <div class='btn btn-success' id="wrapper">
        Привіт!
        <div class="alert alert-info">
            This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
    </div>
    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
            data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover
    </button>
{% endblock %}