<div class="advertisement-one-list">
    {% if item.isTop|default(false) == true %}
        <div class="advertisement-one-top"><span>{{ 'В топі'|trans }}</span></div>
    {% endif %}
    <div class="advertisement-img">
        <a href="" alt="">
            {% set photo = item.photos|first %}
            {% if photo %}
                <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                    ~photo.advertisement.id~'/'~photo.photoNameNew) }}">
            {% else %}
                <img src="{{ asset('bundles/app/img/empty.jpg') }}">
            {% endif %}
        </a>
        {% if photo %}
            <div class="advertisement-one-photo-count">{{ item.photos|length }} фото</div>
        {% endif %}
        <i class="far fa-star advertisement-selected"></i>
    </div>
    <div class="advertisement-text-list">
        <a href="{{ path('advertisement_details',{'id' : item.id}) }}"
           class="advertisement-text-title">
            {% if item.textHead|length >70 %}
                {{ item.textHead|e|isEmpty|slice(0,66) }}. . .
            {% else %}
                {{ item.textHead|e|isEmpty }}
            {% endif %}
        </a>
        <div class="advertisement-text-content">
            {% if item.textAbout|length >130 %}
                {{ item.textAbout|e|slice(0,125) }}. . .
            {% else %}
                {{ item.textAbout|e|isEmpty }}
            {% endif %}
        </div>
        <div class="details-provision">
            <div class="details-road {{ item.isRoad ? 'active' }}"
                 data-toggle="tooltip" title=" {{ item.isRoad ? 'Присутній'|trans : 'Відсутній'|trans }}
                                     {{ "під'їзд з твердим покриттям"|trans }} ">
                <img src="{{ asset('bundles/app/img/ico/road_'~(item.isRoad ? 'on' : 'off')~'.png') }}"
                     alt="">
            </div>
            <div class="details-water {{ item.isWaterSupply ? 'active' }}"
                 data-toggle="tooltip"
                 title="{{ item.isWaterSupply ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'водопостачання'|trans }}">
                <img src="{{ asset('bundles/app/img/ico/water_'~(item.isWaterSupply ? 'on' : 'off')~'.png') }}"
                     alt="">
            </div>
            <div class="details-gas {{ item.isGas ? 'active' }}"
                 data-toggle="tooltip"
                 title="{{ item.isGas ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'газопостачання'|trans }}">
                <img src="{{ asset('bundles/app/img/ico/valve_'~(item.isGas ? 'on' : 'off')~'.png') }}"
                     alt="">
            </div>
            <div class="details-sewerage {{ item.isSewerage ? 'active' }}"
                 data-toggle="tooltip"
                 title="{{ item.isSewerage ? 'Присутня'|trans : 'Відсутня'|trans }} {{ 'централізована каналізація'|trans }}">
                <img src="{{ asset('bundles/app/img/ico/waste_'~(item.isSewerage ? 'on' : 'off')~'.png') }}"
                     alt="">
            </div>
            <div class="details-electricity {{ item.isElectricity ? 'active' }}"
                 data-toggle="tooltip"
                 title="{{ item.isElectricity ? 'Присутнє'|trans : 'Відсутнє'|trans }} {{ 'елекрозабезпечення'|trans }} ">
                <img src="{{ asset('bundles/app/img/ico/idea_'~(item.isElectricity ? 'on' : 'off')~'.png') }}"
                     alt="">
            </div>
        </div>
        <div class="advertisement-text-date">
            {{ item.updateDate ? item.updateDate|date("d.m.Y") : item.addDate|date("d.m.Y") }}
        </div>
    </div>
    <div class="advertisement-properties">
        <div class="advertisement-properties-text">
            <div>{{ 'Площа'|trans }}:</div>
            <div>{{ 'Ціна'|trans }}:</div>
            <div>{{ 'Ціна'|trans }} за сотку:</div>

        </div>
        <div class="advertisement-properties-value">
            <div class="advertisement-text-square">{{ item.area|number_format(4,'.',' ') }} {{ 'га'|trans }}</div>
            <div class="advertisement-text-price">{{ item.price|number_format(0,',',' ') }} {{ '₴'|trans }}</div>
            <div class="advertisement-text-square">
                {{ item.area ? (item.price/item.area/100)|number_format(0,',',' ') }} {{ '₴/сотка'|trans }}
            </div>
        </div>
        <div class="advertisement-properties-button-container btn-container">
            <a href="{{ path('advertisement_details',{'id' : item.id}) }}"
               class="advertisement-properties-button btn-blue-cut" tabindex="-1" role="button"
               aria-disabled="true">{{ 'Детально...'|trans }}
            </a>
            <a href="{{ path('map_index',{'id' : item.id}) }}" class="advertisement-text-position btn-position-cut">
                <i class="fas fa-map-marker-alt"></i>
            </a>
        </div>
    </div>
</div>
