<div class="advertisement-one">
    {% if item.isTop|default(false) == true %}
        <div class="advertisement-one-top"><span>{{ 'В топі'|trans }}</span></div>
    {% endif %}
    <div class="advertisement-img-tab">
        <a href="#" data-toggle="modal" data-target="#advertisementModal">
            {% set photo = item.photos|first %}
            {% if photo %}
                <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                    ~photo.advertisement.id~'/'~photo.photoNameNew) }}">
            {% else %}
                <img src="{{ asset('bundles/app/img/empty.jpg') }}">
            {% endif %}
        </a>
        {% if photo %}
            <div class="advertisement-one-photo-count">{{ item.photos|length }} фото</div>
        {% endif %}
        <i class="far fa-star advertisement-selected"></i>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="advertisementModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselControls" class="carousel carousel-fade" data-ride="carousel">
                        <p>Кількість фото - {{ item.photos|length }}</p>
                        {% if item.photos|length > 1 %}
                            <ol class="carousel-indicators">
                                {% for i, photo in item.photos %}
                                    <li data-target="#carouselExampleControls"
                                        data-slide-to="{{ i }}"
                                            {% if i == 0 %} class="active" {% endif %} ></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <div class="carousel-inner">
                            {% if item.photos|first %}
                                {% for i, photo in item.photos %}

                                    <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                        <img class="d-block "
                                             src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                                                 ~photo.advertisement.id~'/'~photo.photoNameNew) }}"
                                             alt="">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <img class="d-block"
                                         src="{{ asset('bundles/app/img/empty_500.jpg') }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                        {% if item.photos|length > 1 %}
                            <a class="carousel-control-prev carousel-control-change"
                               href="#carouselExampleControls"
                               role="button" data-slide="prev">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next carousel-control-change"
                               href="#carouselExampleControls"
                               role="button" data-slide="next">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="advertisement-text">
        <a href="{{ path('advertisement_details',{'id' : item.id}) }}"
           class="advertisement-text-title">
            {% if item.textHead|length >28 %}
                {{ item.textHead|e|slice(0,25) }}. . .
            {% else %}
                {{ item.textHead|e|isEmpty }}
            {% endif %}
        </a>
        <div class="advertisement-text-square">
            <i class="fas fa-vector-square"></i>
            {{ item.area|number_format(4,'.',' ') }}{{ ' га'|trans }}
        </div>
        <div class="advertisement-text-price"> {{ item.price|number_format(0,',',' ') }} ₴
            <span class="advertisement-text-square"> |
                {{ item.area ? (item.price/item.area/100)|number_format(0,',',' ') }} {{ '₴/сотка'|trans }}
            </span>
        </div>
        <div class="advertisement-text-content">
            {% if item.textAbout|length >58 %}
                {{ item.textAbout|e|slice(0,58) }}. . .
            {% else %}
                {{ item.textAbout|e|isEmpty }}
            {% endif %}
        </div>
        <div class="align-self-end w-100 d-flex flex-wrap justify-content-between">
            <div class="advertisement-text-date"><i class="far fa-clock"></i>
                <div>{{ item.updateDate ? item.updateDate|date("d.m.Y") : item.addDate|date("d.m.Y") }}</div>
            </div>
            <a class="advertisement-text-position" href="{{ path('map_index',{'id' : item.id}) }}">Осокорки
                <i class="fas fa-map-marker-alt"></i>
            </a>
        </div>


    </div>
    <div class="advertisement-geom">{{ item.geom }}</div>
</div>
