<div class="map-details-head" >
    <img src="{{ asset('bundles/app/img/information.png') }}">
    Інформація про ділянку
    <button type="button" class="move-right hidden-ico" aria-label="move">
        <span class="fas fa-angle-double-right"></span>
    </button>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{#-------------------------bootstrap caruseusel#}
<div id="carouselMapControls" class="carousel carousel-fade" data-ride="carousel">
    {% if advertisementDetails.photos|length > 1 %}
        <ol class="carousel-indicators">
            {% for i, photo in advertisementDetails.photos %}
                <li data-target="#carouselMapControls" data-slide-to="{{ i }}"
                        {% if i == 0 %} class="active" {% endif %} >
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class="carousel-inner">
        {% if advertisementDetails.photos|first %}
            {% for i, photo in advertisementDetails.photos %}
                <div class="carousel-item {% if i == 0 %} active {% endif %}">
                    <img class="d-block "
                         src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'
                             ~photo.advertisement.id~'/'~photo.photoNameNew) }}" alt="">
                </div>
            {% endfor %}
        {% else %}
            <div class="carousel-item active">
                <img class="d-block" src="{{ asset('bundles/app/img/empty.jpg') }}" alt="">
            </div>
        {% endif %}
    </div>
    {% if advertisementDetails.photos|length > 1 %}
        <a class="carousel-control-prev carousel-control-change" href="#carouselMapControls"
           role="button" data-slide="prev">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control-change" href="#carouselMapControls" role="button"
           data-slide="next">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}
</div>
<div class="map-provision">
    <div class="details-road {{ advertisementDetails.isRoad ? 'active' }}" data-toggle="tooltip"
         title=" {{ advertisementDetails.isRoad ? 'Присутній':'Відсутній' }} під'їзд з твердим покриттям ">
        <img src="{{ asset('bundles/app/img/ico/road_'~(advertisementDetails.isRoad ? 'on' : 'off')~'.png') }}" alt="">
    </div>
    <div class="details-water {{ advertisementDetails.isWaterSupply ? 'active' }}" data-toggle="tooltip"
         title="{{ advertisementDetails.isWaterSupply ? 'Присутнє ' : 'Відсутнє ' }}водопостачання ">
        <img src="{{ asset('bundles/app/img/ico/water_'~(advertisementDetails.isWaterSupply ? 'on' : 'off')~'.png') }}"
             alt="">
    </div>
    <div class="details-gas {{ advertisementDetails.isGas ? 'active' }}" data-toggle="tooltip"
         title="{{ advertisementDetails.isGas ? 'Присутнє ' : 'Відсутнє ' }}газопостачання ">
        <img src="{{ asset('bundles/app/img/ico/valve_'~(advertisementDetails.isGas ? 'on' : 'off')~'.png') }}" alt="">
    </div>
    <div class="details-sewerage {{ advertisementDetails.isSewerage ? 'active' }}" data-toggle="tooltip"
         title="{{ advertisementDetails.isSewerage ? 'Присутня ' : 'Відсутня ' }}централізована каналізація ">
        <img src="{{ asset('bundles/app/img/ico/waste_'~(advertisementDetails.isSewerage ? 'on' : 'off')~'.png') }}"
             alt="">
    </div>
    <div class="details-electricity {{ advertisementDetails.isElectricity ? 'active' }}" data-toggle="tooltip"
         title="{{ advertisementDetails.isElectricity ? 'Присутнє ' : 'Відсутнє ' }}елекрозабезпечення ">
        <img src="{{ asset('bundles/app/img/ico/idea_'~(advertisementDetails.isElectricity ? 'on' : 'off')~'.png') }}"
             alt="">
    </div>
</div>

<div class="map-purpose"> {{ advertisementDetails.dirPurpose ? advertisementDetails.dirPurpose.text: 'Не вказано цільове призначення' }}</div>

<div class="map-main">
    <div class="map-main-caption">
        <div>Площа:</div>
        <div>Ціна:</div>
    </div>
    <div class="map-main-values">
        <div class="map-main-area">{{ (advertisementDetails.area*100)|number_format(0,',',' ') }} соток</div>
        <div class="">
            <span class="map-main-price">{{ advertisementDetails.price|number_format(0,',',' ') }} $</span>
            <span class="map-main-price-to-area">|
                {{ advertisementDetails.area ? (advertisementDetails.price/advertisementDetails.area/100)|number_format(0,',',' ') }}
                $ /сотка
            </span>
        </div>
    </div>
</div>
<div class="map-properties-button-container">
    <a href="{{ path('advertisement_details',{'id' : advertisementDetails.id}) }}"
       class="advertisement-properties-button" tabindex="-1" role="button"
       aria-disabled="true">Детально...</a>
    <a href="" class="advertisement-text-position" >
        <i class="fas fa-map-marker-alt"></i>
    </a>
</div>
<div id="map-properties-geom">{{ advertisementDetails.geom }}</div>

