{% extends 'AppBundle::index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/map.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{% block body %}

    <div id="map" class="map"></div>
    <div class="map-filter hidden">   {{ include('@App/advertisement/_filter.html.twig', { 'form': form }) }}</div>
    <div class="choose-layer d-flex align-items-center flex-column">
        <div class="choose-head">
            <img src="{{ asset('bundles/app/img/layers_.png') }}">
            Базові шари
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <ul class="d-flex flex-column choose-layer-group">
            <li id="osmBase" class="active  choose-layer-item" data-val="osm">
                <span>{{ 'Open Street map'|trans|raw }}</span></li>
            <li id="orto10000base" class=" choose-layer-item" data-val="kiev2006">
                <span>{{ 'Космічний знімок'|trans|raw }}</span></li>
            <li id="bingMap" class=" choose-layer-item" data-val="bing">
                <span>{{ 'Bing map'|trans|raw }}</span></li>
            <li id="pubMap" class=" choose-layer-item" data-val="pub">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkPub" value="option1"
                           class="custom-control-input">
                    <label class="custom-control-label d-inline-block w-100" for="checkPub">{{ 'Публічна карта'|trans|raw }}</label>
                </div>
{#                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkPub" checked>
                    <label class="form-check-label" for="checkPub">{{ 'Публічна карта'|trans|raw }}</label>
                </div>#}
            </li>
        </ul>
    </div>

    <div class="zoom-layer">
        <div class="zoom-layer-border d-flex flex-column align-items-center">
            <button id="zoom-in" class="zoom-button my-zoom-in" type="button" data-toggle="tooltip"
                    data-placement="left" title="{{ 'Збільшити'|trans }}"></button>
            <button id="zoom-full" class="my-zoom-full" type="button" data-toggle="tooltip" data-placement="left"
                    title="{{ 'Загальний вигляд'|trans }}"></button>
            <button id="zoom-out" class=" zoom-button my-zoom-out" type="button" data-toggle="tooltip"
                    data-placement="left" title="{{ 'Зменшити'|trans}}"></button>
        </div>
    </div>

    <div class="control-panel">
        <div class="zoom-layer-border d-flex flex-column align-items-center">
            <button id="control-panel-layer" class="cp-layer cp-button" type="button" data-placement="left" data-toggle="tooltip"
                    title="{{'Шари'|trans }}"></button>
            <button id="control-panel-ruler" class="cp-ruler measure-button activated-button cp-button" type="button" data-placement="left" data-toggle="tooltip"
                    title="{{'Лінійка'|trans }}"></button>
            <button id="control-panel-area" class="cp-area measure-button activated-button cp-button" type="button" data-placement="left" data-toggle="tooltip"
                    title="{{'Площа'|trans }}"></button>
            <button id="control-panel-erase" class="cp-erase cp-button" type="button" data-placement="left"
                    data-toggle="tooltip" title="{{'Очистити'|trans }}"></button>
            <button id="control-panel-closest" class="cp-closest activated-button cp-button" type="button" data-placement="left"
                    data-toggle="tooltip" title="{{'Найближчі об\'єкти'|trans }}"></button>
            <button id="control-panel-print" class="cp-print cp-button" type="button" data-placement="left" data-toggle="tooltip"
                    title={{'Друк'|trans }}></button>
            <button id="control-panel-placeholder" class="cp-placeholder cp-button" type="button" data-toggle="tooltip"
                    data-placement="left"
                    title={{'Місце положення'|trans }}>
            </button>
        </div>
    </div>
    <div class="map-details-info start-position hidden">
        {% if advertisement is not null %}
            {{ include('@App/map/_details.html.twig', { 'advertisementDetails': advertisement }) }}
        {% endif %}
    </div>
    <div class="mouse-position-panel" id="mouse-position"></div>


{% endblock %}

{% block footer %}
{% endblock %}