{% extends 'AppBundle::index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/map.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{% block body %}

    <div id="map" class="map"></div>
    <div class="choose-layer d-flex align-items-center flex-column">

        <div class="choose-head">
            <img src="{{ asset('bundles/app/img/layers_.png') }}">
            Базові шари
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <ul class="d-flex flex-column choose-layer-group">
            <li id="osmBase" class="active  choose-layer-item" data-val="osm">
                <span>{{ 'Open Street map'|trans|raw }}</span></li>
            <li id="orto10000base" class=" choose-layer-item" data-val="kiev2006">
                <span>{{ 'Космічний знімок'|trans|raw }}</span></li>
            <li id="pubMap" class=" choose-layer-item" data-val="pub">
                <span>{{ 'Публічна карта'|trans|raw }}</span></li>
            <li id="bingMap" class=" choose-layer-item" data-val="bing">
                <span>{{ 'Bing map'|trans|raw }}</span></li>
        </ul>

    </div>

    <svg style="display: none" id='icon_advertisement' style="z-index: 10" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30"
         enable-background="new 0 0 30 30" xml:space="preserve">
        <path fill="#156BB1"
              d="M22.906,10.438c0,4.367-6.281,14.312-7.906,17.031c-1.719-2.75-7.906-12.665-7.906-17.031S10.634,2.531,15,2.531S22.906,6.071,22.906,10.438z"/>
        <circle fill="#FFFFFF" cx="15" cy="10.677" r="3.291"/>
    </svg>
    {#<div id = 'icons_advertisement'>
        <i  class="fas fa-anchor fa-fw"></i>
    </div>#}
    <div class="zoom-layer">
        <div class="zoom-layer-border d-flex flex-column align-items-center">
            <button id="zoom-in" class="zoom-button my-zoom-in" type="button" data-toggle="tooltip"
                    data-placement="left" title="Збільшити"></button>
            <button id="zoom-full" class="my-zoom-full" type="button" data-toggle="tooltip" data-placement="left"
                    title="Загальний вигляд"></button>
            <button id="zoom-out" class=" zoom-button my-zoom-out" type="button" data-toggle="tooltip"
                    data-placement="left" title="Зменшити"></button>
        </div>
    </div>
    <div class="control-panel">
        <div class="zoom-layer-border d-flex flex-column align-items-center">
            <button id="control-panel-layer" class="cp-layer" type="button" data-placement="left" data-toggle="tooltip"
                    title="Шари"></button>
            <button id="control-panel-ruler" class="cp-ruler" type="button" data-placement="left" data-toggle="tooltip"
                    title="Лінійка"></button>
            <button id="control-panel-area" class="cp-area" type="button" data-placement="left" data-toggle="tooltip"
                    title="Площа"></button>
            <button id="control-panel-filter" class="cp-filter" type="button" data-placement="left"
                    data-toggle="tooltip" title="Фільтр"></button>
            <button id="control-panel-print" class="cp-print" type="button" data-placement="left" data-toggle="tooltip"
                    title="Друк"></button>
            <button id="control-panel-placeholder" class="cp-placeholder" type="button" data-toggle="tooltip"
                    data-placement="left"
                    title="Місце положення"></button>
        </div>
    </div>
    <div class="mouse-position-panel" id="mouse-position"></div>


    {#<div class=" choose_layer  mdl-shadow--4dp mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 is-visible"#}
    {#aria-hidden="false">#}
    {#<div class="layersAll">#}

    {#<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">#}
    {#<div class="level_menu">#}
    {#<div class="choose_head">#}
    {#<button type="button" class="close" aria-label="Close">#}
    {#<span aria-hidden="true">&times;</span>#}
    {#</button>#}
    {#<i class="material-icons align-middle">layers</i> {{ 'Базові шари'|trans }}#}
    {#</div>#}
    {#<ul class="list-group list-group-flush">#}
    {#<li id="viewMap" class="list-group-item active" data-val="pub">#}
    {#<span>{{ 'Оглядова карта України'|trans|raw }}</span></li>#}
    {#<li id='orto10000base' class="list-group-item" data-val="kiev2006">#}
    {#<span>{{ 'Ортофотоплани'|trans|raw }}, 2006</span></li>#}
    {#<li id='tileLayer' class="list-group-item" data-val="tileLayer">#}
    {#<span>{{ 'Супутниковий знімок'|trans|raw }}</span></li>#}
    {#<li id='topoUA' class="list-group-item" data-val="topoUA">#}
    {#<span>{{ 'Топографічна карта України'|trans }}</span></li>#}
    {#<li id='osmBase' class="list-group-item" data-val="osm"><span>Open Street Map</span></li>#}
    {#<li id='osmCycle' class="list-group-item" data-val="OpenCycleMap">#}
    {#<span>Open Street Cycle Map</span></li>#}
    {#<li id='googleSatelit' class="list-group-item" data-val="google"><span>Google Map</span>#}
    {#</li>#}
    {#<li id='googleHybrid' class="list-group-item" data-val="googlehybrid"><span>Google Hybrid</span>#}
    {#</li>#}
    {#<li id='emptyLayerR' class="list-group-item" data-val="emptyRelief">#}
    {#<span>{{ 'Порожній шар (рельєф)'|trans }}</span></li>#}
    {#<li id='emptyLayer' class="list-group-item" data-val="emptyLayer">#}
    {#<span>{{ 'Порожній шар'|trans }}</span></li>#}
    {#</ul>#}

    {#</div>#}
    {#</nav>#}
    {#</div>#}
    {#</div>#}

{% endblock %}

{% block footer %}
{% endblock %}