{% extends 'AppBundle::index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/admin.js') }}"></script>


{% endblock %}

{% block body %}

<!-- Site wrapper -->
<div class="wrapper">
    <!-- =============================================== -->

    {% block main_sidebar %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Навігація по розділам</li>
                <li class=" {{ app.request.attributes.get('_route')|slice(6, 13) == 'advertisement' ? 'menu-open' }}">
                    <a href="#">
                        <i class="fas fa-home"></i> <span>Домашня сторінка</span>
                        <span class="pull-right-container">
                            <i class="fas fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
                <li class="treeview {{ app.request.attributes.get('_route')|slice(6, 13) == 'advertisement' ? 'menu-open' }}">
                    <a href="#">
                        <i class="fas fa-clipboard-list"></i> <span>Оголошення</span>
                        <span class="pull-right-container">
                            <i class="fas fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu sub-menu-1" {{ app.request.attributes.get('_route')|slice(6, 13) == 'advertisement' ? 'style="display:block"' }}>
                        <li class="sub-menu-select
                            {% if app.request.attributes.get("_route") == 'admin.advertisement_list' %}
                                 active
                            {% endif %}
                            "><a href="{{ path('admin.advertisement_list') }}">Переглянути оголошення</a></li>
                    </ul>
                </li>

                <li class="treeview {{ app.request.attributes.get('_route')|slice(6, 5) == 'users' ? 'menu-open' }}">
                    <a href="#">
                        <i class="fas fa-users"></i> <span>Користувачі</span>
                        <span class="pull-right-container">
                                <i class="fas fa-angle-left pull-right"></i>
                            </span>
                    </a>
                    <ul class="treeview-menu sub-menu-1" {{ app.request.attributes.get('_route')|slice(6, 5) == 'users' ? 'style="display:block"' }} >
                        <li class="sub-menu-select {{  app.request.pathInfo|split('\/')|inArray('user') ? 'active' }}">
                            <a href="{{ path('admin.users_list') }}">
                                Список користувачів
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fas fa-table"></i> <span>Таблиці</span>
                        <span class="pull-right-container">
                                <i class="fas fa-angle-left pull-right"></i>
                            </span>
                    </a>
                    <ul class="treeview-menu  sub-menu-1">
                        <li class="sub-menu-select {{ app.request.pathInfo|split('\/')|inArray('dirStatus') ? 'active' }}">
                            <a href="{{ path('admin.dirStatus_list') }}">
                               Статуси оголошень
                            </a>
                        </li>
                        <li class="sub-menu-select {{  app.request.pathInfo|split('\/')|inArray('messages') ? 'active' }}">
                            <a href="{{ path('admin.messages_list')}}">
                                Повідомлення
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    {% endblock %}

    <!-- =============================================== -->

    {% block content_wrapper %}
    <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <!-- Main content -->

            <!-- /.content -->
        </div>
     {% endblock %}
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
    {% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}