{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/advertisement.js') }}"></script>
{% endblock %}

{% block fos_user_content %}
    <div class="body_content">
        <div class="container ">
            <div class="row">
                <div class="width_100 d-flex justify-content-center">
                    <div class="well card ">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            {% endif %}
                            <fieldset>
                                <legend><i class="fa fa-lock"></i> {{ 'Авторизуватись'|trans }}</legend>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="username">{{ 'Логін'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">{{ 'Пароль'|trans |trans }}</label>
                                    <input type="password" id="password" name="_password" class="form-control"/>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me"
                                           value="on"/>
                                    <label class="form-check-label" for="remember_me">
                                        {{ 'Запам\'ятати мене'|trans }}
                                    </label>
                                </div>
                                <button type="submit" id="_submit" class="btn btn-success">
                                    <i class="fas fa-sign-in-alt"></i></i> {{ 'Увійти'|trans }}
                                </button>
                                <button type="button" id="btn_register" class="btn btn-success">
                                    <a href="#" class="fas fa-user-plus"
                                       aria-hidden="true"></a> {{ 'Зареєструватись'|trans }}
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}