{% extends 'AppBundle:admin:index.html.twig' %}


{% block body %}
    <div class="wrapper">
        {% block main_sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block content_wrapper %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        Переглянути оголошення
                    </h1>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h3 class="box-title">Оголошення</h3>
                                </div>
                                <div class="admin-filter">

                                </div>
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="pad margin no-print">
                                            <div class="callout callout-{{ label }} flash-{{ label }}"
                                                 style="margin-bottom: 0!important;">
                                                {# <h4><i class="fa fa-info"></i> Note:</h4>#}
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div>
                                        <div class="mb-2">
                                        {{ form_start(formFilter, {'method': 'GET'}) }}
                                            <div class="d-flex align-items-end">
                                                <div class="form-group">
                                                    {{ form_label(formFilter.dirStatus) }}
                                                    {{ form_widget(formFilter.dirStatus) }}
                                                </div>
                                                <div class="ml-2 form-group flex-grow-1">
                                                    <input type="submit" class="btn btn-success" name="submit-filter" value="Примінити"/>
                                                </div>
                                                <div class="form-group">
                                                Всього результатів: {{ advertisements.getTotalItemCount }}
                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <table class="my_advertisement_table table ">
                                                <thead>
                                                <tr>
                                                    <th class="w-5 text-center align-middle">№ з/п</th>
                                                    <th class="w-5 text-center align-middle">Додано</th>
                                                    <th class="w-15 text-center align-middle">Фото</th>
                                                    <th class="w-25 text-center align-middle">Заголовок</th>
                                                    <th class="w-30 text-center align-middle">Текст об'яви</th>
                                                    <th class="w-7 text-center align-middle">Ціна</th>
                                                    <th class="w-7 text-center align-middle">Площа</th>
                                                    <th class="w-6 text-center align-middle">Статус</th>
                                                </tr>
                                                </thead>
                                                <tbody>


                                               {# {% set counter = (pager.page-1)*(pager.numItems) %}#}
                                                {% for advertisement in advertisements %}
                                                    {% set counter = ( counter | default(0) ) + 1 %}
                                                    <tr class="advertisement_one">
                                                        <th class="text-center align-middle"
                                                            scope="row">{{ counter }}</th>
                                                        <th class="font-light text-center align-middle"
                                                            scope="row">{{ advertisement.addDate|date('d.m.Y') }}</th>
                                                        <th class="text-center align-middle" scope="row">
                                                            {% set photo = advertisement.photos|first %}
                                                            {% if photo %}
                                                                <img src="{{ asset('/advertisement/'~photo.addDate|date('Y-m-d')~'/'~photo.advertisement.id~'/'~photo.photoNameNew) }}">
                                                            {% else %}
                                                                <img src="{{ asset('/bundles/app/picture/template_209_139.jpg') }}">
                                                            {% endif %}
                                                        </th>

                                                        <th class="font-light text-left text-left align-middle">
                                                        <div class="d-flex flex-column">
                                                            <div class="flex-grow-1">
                                                                <p>{{ advertisement.textHead|isEmpty }}</p>
                                                            </div>
                                                            <div class="details-provision mb-2 d-flex">
                                                                <div class="details-road {{ advertisement.isRoad ? 'active' }}"
                                                                     data-toggle="tooltip" data-placement = 'bottom'
                                                                     title=" {{ advertisement.isRoad ? 'Присутній':'Відсутній' }}  під'їзд з твердим покриттям ">
                                                                    <img src="{{ asset('bundles/app/img/ico/road_'~(advertisement.isRoad ? 'on' : 'off')~'.png') }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="details-water {{ advertisement.isWaterSupply ? 'active' }}"
                                                                     data-toggle="tooltip" data-placement = 'bottom'
                                                                     title="{{ advertisement.isWaterSupply ? 'Присутнє ' : 'Відсутнє ' }}водопостачання ">
                                                                    <img src="{{ asset('bundles/app/img/ico/water_'~(advertisement.isWaterSupply ? 'on' : 'off')~'.png') }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="details-gas {{ advertisement.isGas ? 'active' }}"
                                                                     data-toggle="tooltip" data-placement = 'bottom'
                                                                     title="{{ advertisement.isGas ? 'Присутнє ' : 'Відсутнє ' }}газопостачання ">
                                                                    <img src="{{ asset('bundles/app/img/ico/valve_'~(advertisement.isGas ? 'on' : 'off')~'.png') }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="details-sewerage {{ advertisement.isSewerage ? 'active' }}"
                                                                     data-toggle="tooltip" data-placement = 'bottom'
                                                                     title="{{ advertisement.isSewerage ? 'Присутня ' : 'Відсутня ' }}централізована каналізація ">
                                                                    <img src="{{ asset('bundles/app/img/ico/waste_'~(advertisement.isSewerage ? 'on' : 'off')~'.png') }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="details-electricity {{ advertisement.isElectricity ? 'active' }}"
                                                                     data-toggle="tooltip" data-placement = 'bottom'
                                                                     title="{{ advertisement.isElectricity ? 'Присутнє ' : 'Відсутнє ' }}елекрозабезпечення ">
                                                                    <img src="{{ asset('bundles/app/img/ico/idea_'~(advertisement.isElectricity ? 'on' : 'off')~'.png') }}"
                                                                         alt="">
                                                                </div>
                                                            </div>

                                                            <div class="d-flex flex-wrap">

                                                                <a href="{{ path('advertisement_details', {'id':advertisement.id}) }}"
                                                                   class="my-btn my-btn-grey btn-sm">
                                                                    Переглянути
                                                                </a>
                                                            </div>
                                                        </div>
                                                        </th>
                                                        <th class="font-light text-center align-middle"
                                                            scope="row">{{ advertisement.textAbout|isEmpty|slice(0,150) }}</th>
                                                        <th class="font-light text-center align-middle"
                                                            scope="row">{{ advertisement.price|isEmpty }}</th>
                                                        <th class="font-light text-center align-middle"
                                                            scope="row">{{ advertisement.area|isEmpty }}</th>
                                                        <th class="font-light text-center align-middle"
                                                            scope="row">{{ advertisement.dirStatus.name }}</th>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row col-12 justify-content-center">
                                            <div class="navigation  text-center">
                                                {{ knp_pagination_render(advertisements) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
        {% endblock %}
    </div>

{% endblock %}
